addnode='{{ addnode1 }}'
addnode='{{ addnode2 }}'
rpcuser='{{ rpcuser }}'
rpcpassword='{{ rpcpassword }}'
rpcport='{{ rpcport }}'
rpcallowip=127.0.0.1
server=1
daemon=1
listen=1
txindex=1
logtimestamps=1
testnet='{{ testnet }}'
tlscertpath= '{{ tlscertpath }}'
tlskeypath= '{{ tlskeypath }}'